{% extends '@STGTheme/Default/base.html.twig' %}


{% block content %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    
    {{form_end(form)}}
{% endblock %}

{% block javascript %}

    {{ parent() }}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#appbundle_empresa_grupoActividad').change(function () {
            var grupoActividadSelector = $(this);
            
            // Request the neighborhoods of the selected city.
            $.ajax({
                url: "{{ path('empresa_list_actividades') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    grupoid: grupoActividadSelector.val()
                },
                success: function (actividades) {
                    var actividadSelect = $("#appbundle_empresa_actividad");

                    // Remove current options
                    actividadSelect.html('');
                    
                    // Empty value ...
                    actividadSelect.append('<option value> Select a neighborhood of ' + grupoActividadSelector.find("option:selected").text() + ' ...</option>');
                    
                    
                    $.each(actividades, function (key, actividad) {
                        actividadSelect.append('<option value="' + actividad.id + '">' + actividad.name + '</option>');
                    });
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            });
        });
    </script>
   

{% endblock %}